@charset "utf-8";

@use './variables.scss' as *;

*::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 10px 20px;
}

h2 {
  margin: 10px 20px;
}

hr {
  width: 95%;
}

img {
  object-fit: cover;
}

section {
  margin-bottom: 20px;
}

article {
  margin: 10px 20px;

  &.alert {
    position: relative;
    padding-left: 15px;
    padding-block: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 10px;
      height: 100%;
      background-color: rgba(225, 0, 0, 0.7);
    }
    background-color: rgba(251, 238, 241, 1);
  }
}

.floating-button {
  right: 20px;
  bottom: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;

  .scroll-to-top {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 50%;
    background-color: $blue;
    color: $blank;
    display: flex;
    align-items: center;
  }

  .scroll-to-top.hidden {
    display: none;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $blue;
}

.detail {
  font-size: 14px;
  color: $blue;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
  .title {
    font-size: 42px;
  }

  .detail {
    font-size: 18px;
  }
}